footer {
  padding: 20px;
  background-color: orange;
}
small {
  text-align: center;
  color: white;
  display: block;
}

.content {
  height: 85vh;
}
.menu-container {
  display: flex;
  justify-content: space-around;
}
.menu-item {
  color: white;
  transition: all 0.5s ease;
}
.menu-item:hover {
  opacity: 0.5;
  transition: all 0.5s ease;
}
